* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecario{
    width: 100%;
    background: gray;
}
.logo{
    width: 12%;
    position: relative;
    left: 20;

}

.titulo-logo{
    padding-top: 10px;
    padding-left: 30px;
}

.container{
    display: flex;
    justify-content: end;
    list-style-type: none
    

}


.container li{
    position: relative;
    bottom: 90;
    right: 25px;
    text-align: center;
    margin-top: 10px;
    padding-right: 14px;

}

.link{
    font-size: 30px;
}

.txt{
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.atendente{
    position: relative;
    left: 170px;
    width: 75%;
}

.roda-pe{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background: #566573;

}
.roda-texto{
    font-size: 20;
    padding: 15px;
}
.logo-roda{
    justify-content: end;
    width: 10%;
    position: absolute;
    left: 1000px;
    top: 900;
}

.titulo-rodape{
    position: absolute;
    left: 1000px;
    top: 1000;
}


.tabela{
    display: flex;
    align-self: end;
    position: relative;
    bottom: 180px;
    right: 20px;

}

table{
    margin: 2% 20px 2% 2%;
}
thead{
    background: black;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px #B2BABB  solid;
    padding: 2px 15px;
}


/* fim da primeira pagina */

.produtos{
    float: left;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px ;
    padding-top: 50px;
    list-style-type: none
    

}

.produto-1, .produto-2, .produto-3, .ds{
    width: 1000;
    height: 320px;


}

.produtos li{
    float: left;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

.desc{
    position: relative;
    top: 50px;
    margin-right: 8%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 10px;

}




.botao{
    text-align: center;
    font: 25;
    text-transform: uppercase;
    color: gray;
}
/* cadastro */

.titulo-form{
    text-align: center;
    padding-bottom: 20px;
}

.nome, .email, .telefone, .idade .senha .login-user {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.titulo-endereco, .titulo-dados, .user-create{
    padding-bottom: 20px;
    padding-top: 20px;
}


.label-padrao{
    padding-right: 10px;
}
.input-number{
    width: 7px;
    margin-bottom: 10px;
    padding: 5px 22px;
}

.input-padrao{
   display: block;
   width: 50%;
   margin-bottom: 20px;
   padding: 10px 25px;
   margin-left: 2px;
}

.endereco-rua, .endereco-cidade{
    display: inline;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 2px;
}

.complemento, .cep{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 2px;
}

.input-rua-bairro, .input-senha, .input-login{
    width: 25%;
    margin-bottom: 10px;
    padding: 5px 13px;
}



.botao-submit{
    padding: 8px 30px 8px 30px;
    margin-top: 25px;
    margin-left: 42%;
    background-color: yellow;
}

/* 3ds*/

.produtos-list{
    float: left;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px ;
    padding-top: 50px;
    list-style-type: none
    

}


.produtos-list li{
    float: left;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

.titilo-produto{
    padding-bottom: 10px;
    padding-top: 15px;
}

.img-prod{
    width: 80%;
}


.preco{
    padding-top: 30px;

    font-size: 20px;


}

 .ds{
    width: 1000;
    height: 320px;

}

.conta{
    display: flex;
    position: relative;
    top: 320px;
    right: 890px;
}

.botao-compra{
    position: relative;
    left: 215;
    top: 80px;
    padding: 8px 30px 8px 30px;
    background-color: yellow;
}
/*Notebook */

.conta-note{
    display: flex;
    position: relative;
    top: 360px;
    right: 890px;
}


.botao-compra-note{
    position: relative;
    bottom: 13px;
    left: 570px;
    padding: 8px 30px 8px 30px;
    background-color: yellow;
}

.desc-note{
    margin-right: 8%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 10px;

}

.preco-note{
    position: relative;
    bottom: 28px;
    font-size: 20px;
}

/*Smartphone*/

.preco-smart{
    position: relative;
    bottom: 28px;
    font-size: 20px;
}

.botao-compra-smart{
    position: relative;
    left: 210px;
    padding: 8px 30px 8px 30px;
    background-color: yellow;
}

.conta-smart{
    display: flex;
    position: relative;
    top: 310px;
    right: 890px;
}


